################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EneterMessaging/.vs/EneterMessaging_Dev_VS2013/DesignTimeBuild
/EneterMessaging/.vs/EneterMessaging_Dev_VS2013
/EneterMessaging/EneterMessagingFramework/obj
/EneterMessaging/MessagingUnitTests/obj
/EneterMessaging/EneterMessagingFramework/bin/Standard20
EneterMessaging/EneterMessagingFramework/bin/
/EneterMessaging/.vs/EneterMessaging_Dev/DesignTimeBuild
/EneterMessaging/.vs
/EneterMessaging/EneterMessagingFramework/EneterMessagingFrameworkNet45.csproj.user
/EneterMessaging/EneterMessagingFramework/EneterMessagingFrameworkNet40.csproj.user
/EneterMessaging/EneterMessagingFramework/EneterMessagingFrameworkNet35.csproj.user
/EneterMessaging/EneterMessagingFramework/EneterMessagingFramework.csproj.user
/EneterMessaging/MessagingUnitTests/bin/Debug
/EneterMessaging/packages
/EneterMessaging/MessagingUnitTests/bin/Release
/EneterMessaging/EneterDocumentation/obj/Debug
/EneterMessaging/EneterDocumentation/Help
